.cityPageContainer {
  font-family: 'Roboto';
  color: #393d44;
}

.titleImg {
  background-size: 100%;
  height: 400px;
  display: block;
  width: 100%;
}

.yandexMap {
  margin: 0 auto;
  width: 400px;
}

.yandexMap > div {
  margin-top: 10px;
}

.cityName {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  font-size: 40px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -200px;
  z-index: 100;
}

.blockTitle {
  padding: 5px 0 5px 0;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.summaryBlock {
  width: 400px;
  margin: 0px auto 50px auto;
}

.chartBlock {
  width: 400px;
  margin: 20px auto 0px auto;
}
