.container {
  width: 400px;
  height: fit-content;
  background-color: #0bcf6b;
  box-shadow: 0 0 5px #00000030;
  padding: 20px;
  margin: 20px auto 0px auto;
}
.blockTitle {
  padding: 5px 0 5px 0;
  font-size: 30px;
  color: white;
  text-align: left;
  margin-bottom: 10px;
}

@media screen and (max-width: 995px), screen and (max-height: 700px) {
  .container {
    width: 90%;
    font-size: 30px;
  }

  .blockTitle {
    font-size: 40px;
  }
}
