.map {
  width: 100%;
  height: 50%;
}

.mainPageContainer {
  font-family: 'Roboto';
  min-height: 100vh;
}

.citiesBlock {
  /* position: absolute;
  top: 950px;
  left: 420px; */
  width: auto;
  margin: 0 auto;
}
