.search {
  background-color: white;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 20px auto 0px auto;
}

.search:focus {
  border: 2px solid #2e2828;
  outline: none;
}

.searchContainer {
  width: 400px;
  margin: 0 auto;
}
