.dropdownList {
    width           : 200px;
    height          : 300px;
    overflow-y      : scroll;
    background-color: white;
    border          : 1px solid #00000080;
    border-radius   : 5px;
}

.dropdownList>ul {
    list-style-type: none;
    padding        : 0 0 0 10px;
}

.link {
    font-size      : 15px;
    text-decoration: none;
    color          : #000000;
    flex           : 0 0 0px;
}

.link:hover {
    background-color: #00000038;
    color           : white;
}