.container {
  width: 400px;
  margin: 0px auto 20px auto;
  padding: 20px;
  box-shadow: 0 0 5px #00000030;
}

.blockTitle {
  padding: 5px 0 5px 0;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}
