.dropdownList {
  width           : 205px;
  height          : 300px;
  overflow-y      : scroll;
  background-color: white;
  border          : 1px solid #00000080;
  border-radius   : 5px;
  overflow-x      : hidden;
}

.dropdownList>ul {
  list-style-type: none;
  padding        : 0 0 0 0px;
  margin-top     : 5px;
}

.listElement {
  padding: 0 0 0 5px;
}

.listElement:hover {
  background-color: #bbbbbb;
}

.noCityElement {
  text-align: center;
}

.link {
  font-size      : 15px;
  text-decoration: none;
  color          : #000000;
  flex           : 0 0 0px;
}