.continent {
  opacity: 0.5;
  fill: #8b8b8b;
}

.continent:hover {
  opacity: 1;
  fill: #666666;
}

.mapContainer {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.svg {
  width: 1000px;
  height: 1200px;
}
