.continent {
  opacity: 0.5;
  fill: #0bcf6ab9;
}

.continent:hover {
  opacity: 1;
  /* fill: #0bcf6b; */
  fill: #0bcf6b;
}

.mapContainer {
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.svg {
  width: 1000px;
  height: 1200px;
}
