.navMenu {
  position: absolute;
  left: calc(100% / 2 + 240px);
  width: fit-content;
  height: fit-content;
}

.navMenu > a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 10px 0 10px 0;
  color: #0bcf6b;
}

.active {
  border-left: 3px solid #0bcf6b;
  padding: 5px 0 5px 5px;
}

.inactive {
  border-left: 3px solid #00000000;
  padding: 5px 0 5px 5px;
}

@media screen and (max-width: 995px), screen and (max-height: 700px) {
  .navMenu {
    display: none;
  }
}
