.cityPageContainer {
  font-family: 'Roboto';
  background-color: #111;
  color: #000000;
}

.blockTitle {
  padding: 5px 0 5px 0;
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.chartBlock {
  width: 400px;
  margin: 20px auto 0px auto;
}
