.appContainer {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb:hover {
  background: #111;
}
