.citiesList {
  background-color: #ffffff;
  font-family: 'Roboto';
}

.cityLabel {
  padding-left: 20px;
  padding-right: 15px;
}

.continentLabel {
  display: block;
  width: fit-content;
  padding-left: 20px;
  font-size: 30px;
}

.cityContinent {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
}

.cityLink {
  text-decoration: none;
  color: black;
}

table,
th,
td {
  border: 1px solid black;
}
